/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    padding: 70px 20px 20px 20px; /* Add padding to prevent content from touching the edges */
}

#navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}

#navbar ul li a:hover {
    background-color: #575757;
    color: #fff;
}

.content {
    margin-top: 70px; /* Adjust to height of navbar */
}

section {
    padding: 100px 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly more transparent */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Change navbar color on scroll */
.scrolled {
    background-color: rgba(85, 85, 85, 0.8);
}


